.authentication-container{
  display: flex;
  // width: 900px;
  // justify-content: space-between;
  width: 100%;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

@media screen and (min-width: 900px) {
  .authentication-container{
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
}
