.favorite-icon{
  background: #fff;
  display: flex;
  border: 1px solid black;
  max-width: max-content;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  
  
  span {
    font-size: 24px;
    color: #000;
    margin: 10px 2px 8px 2px;
  }

  &:hover {
    background-color: #000;
    color: #fff;

    span{
      color: #fff;
    }
  }
}

@media screen and (min-width: 768px) {
  .favorite-icon{
    span{
      font-size: 26px;
      margin: 4px 2px;
    }
  }
}